[submodule "owensmith/themes/hugo-bearblog"]
	path = owensmith/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "chatdemo"]
	path = chatdemo
	url = https://github.com/owenps/chatdemo
