/* color pallet 
light blue - #a1c3fc
blue - #428dfc
navy - #23286b

*/

body {
  font-family: Nunito;
}

h1 {
  font-family: Nunito;
  font-weight: lighter;
  font-size: 2.5rem;
  margin-left: 8px;
}
h3 {
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Nunito;
  font-size: 1.1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

#bg_image {
  max-width: 100%;
}

#name {
  display: inline;
  transition: 0.2s;
}

#name:hover {
  cursor: pointer;
  color: #428dfc;
}

.nav {
  position: absolute;
  background-color: white;
  top: 10px;
  right: 50px;
  left: 0px;
  width: 100%;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  font-size: 1.2rem;
  padding: 10px 50px;
  transition: 0.2s;
  float: right;
}

.nav li:hover {
  color: #428dfc;
  cursor: pointer;
}

.caro {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 400px;
}

.caro li {
  list-style-type: none;
  width: 350px;
  height: calc(400px + 5vw);
  opacity: 0.25;
  position: absolute;
  left: 50%;
  text-align: center;
  margin-left: -200px;
  background-color: #428dfc;
  border-radius: 14px;
  transition: transform 1s, opacity 1s;
  box-shadow: 5px 5px #333;
  cursor: pointer;
  color: white;
}

.caro p {
  padding-left: 30px;
  padding-right: 30px;
}

.caro .curr {
  opacity: 1;
}

.caro .prev {
  transform: translateX(-400px) scale(0.85);
}

.caro .next {
  transform: translateX(400px) scale(0.85);
}

.caro .hide {
  transform: translateX(-600px) scale(0.85);
}

.caro .new-next {
  transform: translateX(600px) scale(0.85);
}

.caro .hide,
.caro .new-next {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.proj-thumbnail {
  max-width: 250px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  animation-name: animatetop;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  border-width: 0;
  color: #333;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  border-width: 0;
  color: #333;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  margin-top: 100px;
  padding: 0;
  border: 1px solid white;
  width: 70%;
  border-radius: 15px;
  box-shadow: 7px 7px #333;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
